@model Football.Models.Player

@{
    ViewBag.Title = "Details";
    <h2>Player Details</h2>
    @Html.LabelFor(model => model.PlayerId, htmlAttributes: new { @class = "control-label col-md-2" })
    <tr>@Model.PlayerId</tr>

    <br>@Html.LabelFor(model => model.PlayerName, htmlAttributes: new { @class = "control-label col-md-2" })
    <tr>@Model.PlayerName</tr>

    <br> @Html.LabelFor(model => model.PlayerAge, htmlAttributes: new { @class = "control-label col-md-2" })
    <tr>@Model.PlayerAge</tr>

    <br>@Html.LabelFor(model => model.TeamName, htmlAttributes: new { @class = "control-label col-md-2" })
    <tr>@Model.TeamName</tr>

    <br>@Html.LabelFor(model => model.NumberOfFans, htmlAttributes: new { @class = "control-label col-md-2" })
    <tr>@Model.NumberOfFans</tr>

    <br>@Html.LabelFor(model => model.Position, htmlAttributes: new { @class = "control-label col-md-2" })
    <tr>@Model.Position</tr> 

    <br>@Html.LabelFor(model => model.AddComments, htmlAttributes: new { @class = "control-label col-md-2" })
    <tr>@Model.AddComments</tr> <br> <input id="Text1" type="text" />

}




